@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import "normalize";

/* Utilitaires
   ========================================================================== */
@import "utilitaires";

/* Charte typographique
   ========================================================================== */
@import "typo";

/* Grille
   ========================================================================== */
@import "grille";

/* Mise en page
   ========================================================================== */
.entete {
  background-color: black;
  padding: 20px 0px 20px 0;
    .list-header{
      list-style: none;
      display: flex;
      align-items: center;
      max-width: 230px;
     padding-left: 20px;
     @media(min-width: 1000px){
      margin-left:4em;
    }
      .list-header__item{
       &:first-child{
        padding-right: 10px;
         border-right: 2px solid white;
      }
      &:last-child{
        padding-left: 10px;
      }
        a{
        display: flex;
        align-items: center;
        color: whitesmoke;
        width: 100px;
        font-weight: 500;
        text-decoration: none;
        &:hover,
        :active{
          text-decoration: underline;
        }  
          }
         a>.abstract_text{
          text-align: center;
        }
      }
    }
  @media(min-width: 1000px){
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
}

nav{
  @media(min-width: 1000px){
    margin-right:4em;
  }
  .nav__list{
    margin-top: 30px;
    padding: 0;
  @media(min-width:1000px){
    display: flex;
  }
    &-item{
      text-align: center;
      list-style: none;
    }

    &-item:first-child{
      padding-bottom:15px;
      border-bottom: 2px solid $white;
      @media(min-width:1000px){
        padding: 0;
        border: none;
      }
      .nav__request--button{
        background-color: #161616;
        color: white;
        border: 1px solid white;
        padding: 10px 15px;
        border-radius: 5px;
        margin-right: 10px;
      }

    }
    &-item:last-child{
      padding-top: 15px;
      @media(min-width:1000px){
        padding: 0;
        border: none;
      }
      .nav__sign--button{
        background-color: transparent;
        color: white;
        border: none;
        @media(min-width:1000px){
          background-color:$contrast-color;
          padding: 10px 15px;
          border-radius: 5px;
          &:hover,
          :active{
            background-color: white;
            color: black;
          }
        }
        }
    }
  }
}

.help-section {
  background-color: $help-color;
  padding: 80px 15px 115px 15px;
  text-align: center;
  justify-content: center;

  .help-section__search--bar {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    padding: 16px 24px;
    border: 1px solid black;
    border-radius: 5px;
    @media(min-width:1000px){
      width: 500px;
    }
  }
  .submit-button{
    display: none;
  }
  .fa.fa-arrow-right{
    transform: translate(100px, 18px);
    position: absolute;
    width: 48px;
    z-index: 100;
    @media(min-width:1000px){
      transform: translate(200px, 18px);
    }
    &:hover{
      color: $contrast-color;
    }
  }
}

.subject-section{
  @media(min-width: 1000px){
    margin: auto 4em;
  }
.subject-list {

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    &--info{
      .subject-list__item--link{
        color: $contrast-color;
        text-decoration: none;
        font-weight: 500;
        &:hover,
        :active{
          text-decoration: underline;
        }
      }
    }
  }
  @media(min-width: 1000px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
}
}
.category-list-svg-icon {
  max-width: 86px;
  max-height: 86px;
  margin-right: 30px;
  align-content: center;
  justify-content: center;
}

/*  *** Pied de page
   ========================================================================== */
.footer-container {
  padding: 15px 15px 80px 15px;
  background-color: black;
  color: white;
  @media(min-width: 1000px){
    padding: auto 4em;
  }
  div{
    @media(min-width: 1000px){
      margin: auto 4em;
    }
  }
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;

  @media(min-width:1000px) {
    display: flex;
    justify-content: space-between;
    .footer-nav__item:last-child{
      align-self: flex-end;
    }
  }

  .footer-nav__item {
    list-style: none;
    margin-top: 10px;
    ul {
      padding-left: 0;
      >li {
        list-style: none;
        .contact{
          margin-bottom: 0;
        }
        .email{
          margin: 0;
        }
      }
    }

    .footer-link {
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &:focus,
      &:visited {
        text-decoration: underline;
      }
    }
    .website-img{
      max-width: 48px;
    }
    &:last-child{
      p{
        margin: 0;
      }
    }
  }

}